name: Pizzas homework3

on: [push, pull_request]

jobs:
    pizzas:
      runs-on: ubuntu-20.04
      steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: mkdir build
        run: mkdir build
      - name: Compile
        working-directory: build
        run: |
          cmake ..
          make
      - name: Run tests
        working-directory: build
        run: ctest -V